[user]
	name = Junior Martins
	email = amjr.box@gmail.com
	signingkey = XXXXXXXXXXXXXXXX
[credential]
	helper = manager-core
[core]
	editor = \"D:\\DevTools\\Microsoft VS Code\\bin\\code\" --wait
[commit]
	gpgsign = true
[gpg]
	program = D:/DevTools/GnuPG/bin/gpg.exe
[alias]
	al = !git add --all
	ca = !git commit -S
	ac = !git add --all && git commit -S
	st = !git status -s
	lg = !git log --pretty=format:'%C(blue)%h%C(red)%d %C(white)%s - %C(cyan)%cn, %C(green)%cr)'
	pom = !git push origin main
	plm = !git pull origin main
	ign = !git rm -r --cached . && git add --all && git commit -S -m "Untrack files in .gitignore"
[color]
diff = auto
grep = auto
interactive = auto
status = auto
branch = auto
status = auto
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultbranch = main
